body{
  margin: 0;
  padding: 0;
  background: #f1f1f1;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #747d8c;
  padding: 20px 30px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  font-size: 20px;
  border: 2px solid #57606f;
  border-radius: 50px;
  transition: 0.4s;
  overflow: hidden;
  text-shadow: 1px 1px 5px #57606f;
  box-shadow: 5px 5px 5px #57606f;
}

.container:hover{
  color: #f1f1f1;
  text-shadow: 1px 1px 5px #f1f1f1;
}

.container::before{
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  -webkit-transform: translate(-100%);
  -ms-transform: translate(-100%);
  transform: translate(-100%);
  background-color: #57606f;
  z-index: -1;
  transition: 0.4s ease-out;
}

.container:hover::before{
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
}

i{
  margin-right: 20px;
}
